 <div class="container">
      <div class="nav">
        <img src="img/pngwing.com.png" alt="" class="logo">
        <ul class="menu">
          <li>
            <a href="newmain.html">Назад</a>
            </a>
          </li>
          <li>
            <a href="newmain.html">Популярное</a>
            </a>
          </li>
          <li>
            <a href="">Подробнее</a>
            </a>
          </li>
          <li>
            <a href="">Новости</a>
            </a>
          </li>
        </ul>
        <a href="tel:+18938392364" class="tel">
          +7 913 995 74-08
        </a>
      </div>
      <div class="offer">
        <p>Книжный Магазин</p>
        <h1>
          Магазин Книг и Комиксов 
        </h1>
        <a href="newmain.html" class="btn">Открыть Каталог</a>
      </div>
    </div>